<ion-content [fullscreen]="true">
  <ion-button (click)="addFormShow()">Додати продукт</ion-button>

  <app-add-product
    *ngIf="showAddForm"
    (productAdd)="addProduct($event)"
  ></app-add-product>

  <ion-title class="center-title">Вибір товару</ion-title>

  <ion-card
    class="product-card"
    *ngFor="let product of foodReadService.products"
  >
    <ion-card-header class="card-header">
      <ion-card-title> {{ product.getName() }} </ion-card-title>
      <ion-card-subtitle>{{ product.getType() }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="body">
      <ion-item *ngFor="let detail of product.getDetails()">
        <ion-label>{{ detail }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ціна: {{ product.getPrice() }} грн</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-button color="success" (click)="editFormShow(product.getID())">
      Редагувати
    </ion-button>
    <app-edit-product
      *ngIf="showEditForm && product.getID() === editFormId"
      (productUpdated)="editProduct($event)"
      [product]="product"
    ></app-edit-product>

    <ion-button color="danger" (click)="deleteFormShow(product.getID())">
      Видалити
    </ion-button>
    <app-delete-product
      *ngIf="showDeleteForm && product.getID() === deleteFormId"
      [product]="product"
      (productDeleted)="deleteProduct($event)"
      (cancel)="cancelDelete()"
    ></app-delete-product>
  </ion-card>
</ion-content>
